/* я могла бы использовать здесь flex и псевдокласс, но очень воодушевилась вебинаром Александра Патлуха, 
поэтому решила использовать grid, Александр сказал, что можно :) */
.cards {
    width: 920px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 60px 100px;
    margin: 0 auto;
    padding: 0;
  }