.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  position: relative;
  border: 1px solid red;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: gainsboro;
  border: 1px solid red;
  /* выше установили ограничения для секции */
}

.logo {
  width: 183px;
  height: 32px;
  border: 1px solid red;
  margin: 0;
  padding: 0;
}

.logo__place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
  border: 1px solid red;
}

.header__main-ilustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  border: 1px solid red;
  margin: 0;
  padding: 0;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  padding: 0;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 3;
  border: 1px solid red;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 3;
  border: 1px solid red;
  margin: 0;
  padding: 0;
}

.header__subtitle_link {
  text-decoration: none;
  border: 1px solid red;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  display: flex;
  height: 568px;
  width: 568px;
  background-color:rgb(41, 109, 236);
  position: absolute;
  top: 64px;
  right: 0px;
  z-index: 1;
  border: 1px solid red;
  margin: 0;
  padding: 0;
}

.description {
  display: flex;
  justify-content: center;
  margin: 100px 0;
  padding: 0;
  border: 1px solid red;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  border: 1px solid red;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color:blue;
  border: 1px solid red;
  margin: 0;
  padding: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

.two-columns__paragraph {
  margin: 0;
}
/* добавлены отсутпы в description у второго параграфа */
.paragraph_with-margins {
  margin-top: 30px;
  margin-bottom: 30px;
}

.span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  text-align: center;
  border: 1px solid red;
  width: 60%;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;

}

.section-subtitle {
  border: 1px solid red;
  text-align: center;
  width: 60%;
  margin-bottom: 60px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  border: 1px solid red;
  width: 1110px;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.table__cell {
  border: 1px solid red;
  width: 250px;
  padding: 0;
  margin: 0;
}

.table__heading {
  border: 1px solid red;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.table__text {
  border: 1px solid red;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  margin: 20px 0 0;
}

.feynman {
  border: 1px solid red;
  height: 790px;
  background-color: gainsboro;
  margin-top: 100px;
  position: relative;
}

.feynman__title {
  margin: 100px auto 0;
  padding: 0;
  border: 1px solid red;
  text-align: center;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  position: relative;
  z-index: 2;
}

.feynman__subtitle {
  margin: 70px auto 0;
  padding: 0;
  border: 1px solid red;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: relative;
  z-index: 2;
}

.feynman__link {
  border: 1px solid red;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  padding: 0;
  z-index: 2;
}

.feynman__image {
  border: 1px solid red;
  height: 637px;
  width: 867px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1;
}

.kaufman {
  border: 1px solid red;
  background-color: black;
  margin-top: 90px;
  overflow: hidden;
  position: relative;
}

.section-title_theme_dark {
  border: 1px solid red;
  width: 60%;
  color: white;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  text-align: center;
}

.section-subtitle_theme_dark {
  border: 1px solid red;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 80px;
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table_theme_dark {

}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle-image {
  background-image: url(../images/kaufman-triangle.svg);
  height: 877px;
  width: 877px;
  position: absolute;
  top: 0px;
  right: -210px;
}
